* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.header {
    align-items: center;
    background: #F55A5A;
    color: #fff;
    column-gap: 7px;
    display: flex;
    height: 55px;
    justify-content: center;

    h1 {
      font-family: "Inter", sans-serif;
      font-size: 15px;
      font-weight: 500;
    }
}