* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
  color: #2B283A;
  font-family: "Inter", sans-serif;
}

.header {
    align-items: center;
    background: #F55A5A;
    column-gap: 7px;
    display: flex;
    height: 55px;
    justify-content: center;
    margin-bottom: 50px;

    h1 {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
    }
}

.entry {
  align-items: center;
  column-gap: 20px;
  display: flex;
  margin: 0 auto;
  width: 470px;
}

.entry__location {
  align-items: center;
  column-gap: 12px;
  display: flex;
  margin-bottom: 5px;
  
  span {
    align-items: center;
    background: url(../public/images/marker.png) no-repeat left center;
    background-size: contain;
    display: flex;
    font-size: 11px;
    letter-spacing: 17%;
    padding-left: 15px;
    text-transform: uppercase;
  }

  a {
    color: #918E9B;
    font-size: 11px;
  }
}

.entry__text {

  h2 {
    font-size: 25px;
    margin: 0 0 20px 0;
  }

  small {
    display: block;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 11px;
    line-height: 150%;
    margin: 0;
  }
}